.main-title {
    margin-bottom: 10px;
}
.banner-button.btn-blue a {
    color: white;
}
.btn-link a, .btn-links a {
    font-family: 'OpenSans-SemiBold';
    font-size: 16px;
    line-height: 19px;
    color: #1961ac;
    display: inline-flex;
    align-items: center;
}