<div class="chooseus-box space-tb40 slide-bt-mob">
    <div class="container">
        <sly
            data-sly-resource="${'chooseus-title' @ resourceType='/apps/tata-capital-web/components/tcl-web-components/customcontainer/customcontainer'}">
        </sly>
    </div>
    <div class="container mob-pd0">
        <sly
            data-sly-resource="${'why-chooseus-card' @ resourceType='/apps/tata-capital-web/components/tcl-web-components/customcontainer/customcontainer'}">
        </sly>
    </div>
</div>