/*# Custom Global CSS */
.root.container.responsivegrid{
	padding:0px;
    max-width:100%;
	overflow:hidden;
}
.container.responsivegrid{
  padding:0px;
  max-width:100%;
}
a{
  color: #1961AC;
  }

  @media (max-width: 767px) {
    p {
      font-size: 13px;
    }
  }  

/*** hl seo tag changes ***/
.tata-whatsapp-box .component-title p span {
  font-family: "OpenSans-SemiBold";
}

.apply-step-lists p.heading20 span {
  font-family: "OpenSans-SemiBold";
}

.apply-step-lists p.heading20 {
  margin-bottom: 6px;
}

.customer-say-box .customer-say-details .customer-bottom p {
  font-size: 16px;
  margin-bottom: 6px;
  line-height: 22px;
  color: #333;
}

.related-video-box p.heading20 span {
  font-family: "OpenSans-SemiBold";
}

.related-video-box .block-left .block-title p {
  margin-bottom: 10px;
}

.related-video-box .block-right .block-title p {
  font-size: 16px;
  line-height: 130%;
  font-family: "OpenSans-SemiBold";
  margin-bottom: 10px;
  font-weight: normal;
}

.fi-overlay-card .fi-card-mid p {
  font-family: "OpenSans-SemiBold";
  font-size: 16px;
  line-height: 130%;
  color: #333;
}

.financial-insights-slider .financial-insights-item:hover .fi-overlay-card .fi-card-mid p {
  color: #FFFFFF;
}

.financial-insights-slider .financial-insights-item:hover .fi-overlay-card .fi-card-mid p a {
  color: #FFFFFF;
}

.instant-loan-in-your-city .component-title p.text-center {
  font-family: "OpenSans-Regular";
  font-size: 34px;
  line-height: 130%;
  letter-spacing: .02em;
  color: #000;
}

.instant-loan-in-your-city .component-title p.text-center span {
  font-family: "OpenSans-Bold";
}

.instant-slider-box .instant-slider .instant-card p.heading20 {
  margin-bottom: 12px;
  transition: all 0.1s;
}

.instant-slider-box .instant-slider .instant-card p.heading20 span {
  font-family: "OpenSans-SemiBold";
}

@media (max-width: 991px) {
  .fi-overlay-card .fi-card-mid p {
      font-size: 15px;
      line-height: 19px;
  }

  .instant-loan-in-your-city .component-title p.text-center {
      font-size: 30px;
  }
}

@media (max-width: 767px) {
  .related-video-box .related-video .block-title p {
      margin-bottom: 15px;
  }

  .instant-loan-in-your-city .component-title p.text-center {
      font-size: 22px;
  }

  .instant-slider-box .instant-slider .instant-card p.heading20 {
      margin-bottom: 10px;
  }

  .instant-slider-box .instant-slider .instant-col p.heading20 {
      font-size: 16px;
      line-height: 130%;
  }
}
.customeStrongTag{
  letter-spacing: normal;
  font-family: "OpenSans-SemiBold";
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
/*** hl seo tag changes ***/