<section class="calculator-wrapper space-tb40 pd-t0i">
    <div class="container">
        <div class="tops-heads mx-1060">
            <div class="tops-heads-inner">
                <h1>${properties.headingNormal}<strong>${properties.headingBold}</strong></h1>
                ${properties.description @ context = 'html'}
            </div>
        </div>
        <div class="bg-div bg-with-img calculator-wrapper--box mx-944">
            <h2 class="heading36">Retirement <strong>Calculator</strong></h2>

            <div id="retirementForm" class="form-wizard" data-calc = "retirement">
                <div class="calculator-forms" id="step-one" data-target="step">
                    <div class="hidden-xs btn-clearposition">
                        <button type="button" class="btn-link btn-clear" data-clear="step-one">Clear <i
                                class="icon-clear"></i></button>
                    </div>
                    <div class="calculator-row">
                        <div class="calculator-col">
                            I am
                            <div class="textbox-outer">
                                <input type="text" id="currentAge" data-type="currentAge" maxlength="2"
                                    class="input-textbox width50 only-numeric-input text-center" data-value="40"
                                    value="40" autocomplete="off">
                            </div>
                        </div>
                        <div class="calculator-col">
                            Years old, I will retire at
                            <div class="textbox-outer">
                                <input type="text" id="retirementAge" maxlength="2" data-type="retirementAge"
                                    class="input-textbox width50 only-numeric-input text-center" data-value="60"
                                    value="60" autocomplete="off" data-id="retirementAge">
                            </div>
                        </div>
                        <div class="calculator-col">
                            and I want to plan my retirement till I reach the age of
                            <div class="textbox-outer">
                                <input type="text" id="retirementAge" maxlength="2" data-type="retirementAgeReach"
                                    data-value="85" value="85"
                                    class="input-textbox width50 only-numeric-input text-center" data-id="lastYear">
                            </div>
                        </div>
                    </div>
                    <div class="calculator-row">
                        <div class="calculator-col">
                            to manage my current lifestyle, I would need
                            <div class="textbox-outer">
                                <div class="rupee-symbol">
                                    <label class="rupee"><i class="icon-rupee"></i></label>
                                    <input type="text" data-type="amount"
                                        class="input-textbox width120 price-only-comma only-numeric-input"
                                        maxlength="12" data-value="1,00,000" value="1,00,000" autocomplete="off"
                                        data-id="loanAmout">
                                </div>
                                <label>/ month</label>
                            </div>
                        </div>
                    </div>
                    <div class="calculator-forms-button">
                        <ul>
                            <!-- <li><a class="btn-link btn-big" href="inner-page.html"><i class="icon-arrow-tail-left"></i>
                                    Back</a></li> -->
                            <li><button class="btn-dangers btn-big" type="button" data-stepper="step"
                                    data-next="step-two" data-current="step-one">Next</button></li>
                        </ul>
                    </div>
                </div>

                <div class="calculator-forms hidden" id="step-two" data-target="step">
                    <div class="hidden-xs btn-clearposition">
                        <button type="button" class="btn-link btn-clear" data-clear="step-two">Clear <i
                                class="icon-clear"></i></button>
                    </div>
                    <div class="calculator-row">
                        <div class="calculator-col">
                            <label>I have saved</label>
                            <div class="textbox-outer">
                                <div class="rupee-symbol">
                                    <label class="rupee"><i class="icon-rupee"></i></label>
                                    <input type="text" data-type="amount"
                                        class="input-textbox width120 price-only-comma only-numeric-input"
                                        maxlength="12" data-value="10,00,000" value="10,00,000" autocomplete="off"
                                        data-id="savedAmout">
                                </div>
                            </div>
                            <label class="text-wrapper">till now,</label>
                        </div>
                        <div class="calculator-col">
                            The expected rate of inflation in the economy is
                            <div class="textbox-outer">
                                <div class="range-textbox">
                                    <button class="btn-dangers btn-count minus" data-count="count" type="button"><i
                                            class="icon-minus"></i></button>
                                    <div class="text-group">
                                        <input type="text" class="input-textbox text-center only-numeric-input"
                                            data-value="5" value="5" data-type="percentage" data-maxvalue="13"
                                            data-minvalue="1" autocomplete="off" data-id="inflationRate">
                                    </div>
                                    <button class="btn-dangers btn-count plus" data-count="count" type="button"><i
                                            class="icon-plus"></i></button>
                                </div>
                                <label>%</label>
                            </div>
                        </div>
                    </div>
                    <div class="calculator-row">
                        <div class="calculator-col">
                            My Expected pre-retirement rate of return in
                            <div class="textbox-outer">
                                <div class="range-textbox">
                                    <button class="btn-dangers btn-count minus" data-count="count" type="button"><i
                                            class="icon-minus"></i></button>
                                    <div class="text-group">
                                        <input type="text" class="input-textbox text-center only-numeric-input"
                                            data-value="11" value="11" data-type="percentage" data-maxvalue="13"
                                            data-minvalue="1" autocomplete="off" data-id="preRetirementRate">
                                    </div>
                                    <button class="btn-dangers btn-count plus" data-count="count" type="button"><i
                                            class="icon-plus"></i></button>
                                </div>
                                <label>%</label>
                            </div>
                        </div>
                    </div>
                    <div class="calculator-row">
                        <div class="calculator-col">
                            and my expected post-retirement rate of return is
                            <div class="textbox-outer">
                                <div class="range-textbox">
                                    <button class="btn-dangers btn-count minus" data-count="count" type="button"><i
                                            class="icon-minus"></i></button>
                                    <div class="text-group">
                                        <input type="text" class="input-textbox text-center only-numeric-input"
                                            data-value="10" value="10" data-type="percentage" data-maxvalue="25"
                                            data-minvalue="1" autocomplete="off" data-id="postRetirementRate">
                                    </div>
                                    <button class="btn-dangers btn-count plus" data-count="count" type="button"><i
                                            class="icon-plus"></i></button>
                                </div>
                                <label>%</label>
                            </div>
                        </div>
                    </div>
                    <div class="calculator-forms-button">
                        <ul>
                            <li>
                                <button class="btn-link btn-big" type="button" data-stepper="step" data-prev="step-one"
                                    data-current="step-two"><i class="icon-arrow-tail-left"></i> Back</button>
                            </li>
                            <li>
                                <button class="btn-dangers btn-big" type="button" data-stepper="step"
                                    data-next="step-three" data-current="step-two">Calculate</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="calculator-forms hidden" id="step-three" data-target="step">
                    <div class="calculator-information">
                        <div class="final-amount">
                            <p class="customPtag">You will have to start a SIP of <span data-id="sipAmout">₹46,878/Month</span></p>
                        </div>
                        <div class="monthly-expenditure">
                            <div class="money-info d-flex">
                                <p>Your monthly expenditure will become:<span class="amount"
                                        data-id="monthlyValue">₹2,65,330</span></p>
                            </div>
                            <div class="money-info d-flex">
                                <p>You will have to accumulate a retirement kitty:<span class="amount"
                                        data-id="retirementKitty">₹4,59,65,240</span></p>
                            </div>
                            <p class="note hidden">*Assumed a yearly inflation of 5%</p>
                        </div>
                    </div>
                    <div class="calculator-forms-button">
                        <ul>
                            <li>
                                <button class="btn-link btn-big" type="button" data-stepper="step" data-prev="step-two"
                                    data-current="step-three">
                                    <i class="icon-arrow-tail-left"></i> Back
                                </button>
                            </li>
                            <li>
                                <a href="/content/tata-capital-web/en/wealth/request-callback.html" class="btn-dangers btn-big request-callback-btn" type="button">Request Callback</a>
                            </li>
                            <li>
                                <button type="button" class="btn-dangers btn-big btn-outline btn-apps"
                                    data-popovermodal="popover-modal" data-target="#whatsapp-email-modal">
                                    Get this result on <img
                                        src="/content/dam/tata-capital-web/tcl-wealth/wealth-global-assets/what-app.svg"
                                        alt=""> &amp; <img
                                        src="/content/dam/tata-capital-web/tcl-wealth/wealth-global-assets/email-circle.svg"
                                        alt="">
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="calculator-pagination">
                <p class="counters"><span class="numbers">1</span> / <span class="total-val">3</span></p>
            </div>
        </div>
    </div>
</section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='retirement-calulator-clientlib'}"></sly>
</sly>