.download-app-box h2 {
  margin-bottom: 26px;
}
.download-app-box .custom-checkbox-label a {
  color: #126FB3;
}
.download-app-box .download-app-wrap {
  position: relative;
  padding: 25px 40px;
  min-height: 234px;
}
.download-app-box .download-app-wrap.with-checkbox {
  min-height: 240px;
}
.download-app-box .download-app-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.download-app-box .download-app-number .form-textbox-new {
  width: 100%;
  padding-right: 40px;
}
.download-app-box .download-qrcode-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.download-app-box .download-qrcode-row .download-qrcode-left {
  width: calc(100% - 414px);
  padding-right: 80px;
  position: relative;
}
.download-app-box .download-qrcode-row .download-qrcode-right {
  width: 414px;
  padding-left: 114px;
  display: flex;
  justify-content: center;
  position: relative;
  padding-right: 91px;
}
.download-app-box .download-qrcode-content {
  text-align: center;
}
.download-app-box .download-qrcode-content img {
  display: inline-block;
  margin-top: 8px;
  width: 80px;
  height: 80px;
}
.download-app-box .download-qrcode-or {
  width: 34px;
  height: 78px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.download-app-box .download-qrcode-or:before, .download-app-box .download-qrcode-or:after {
  content: "";
  border-left: 1px solid #333333;
  position: absolute;
  left: 50%;
  height: calc(50% - 21px);
}
.download-app-box .download-qrcode-or:before {
  top: 0;
}
.download-app-box .download-qrcode-or:after {
  bottom: 0;
}
.download-app-box .download-qrcode-or .download-qrcode-or-text {
  font-size: 12px;
  font-family: "OpenSans-Bold";
  line-height: 14px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #D8E024;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  text-transform: uppercase;
}
.download-app-box .download-app-otp-wrap .download-app-enter-otp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.download-app-box .download-app-otp-wrap .download-app-enter-otp .otp-col {
  display: flex;
  justify-content: center;
}
.download-app-box .download-app-otp-wrap .download-app-enter-otp .otp-col .input-textbox {
  max-width: 95px;
  width: 100%;
  margin-left: 9px;
  text-align: center;
  border-bottom: 1px solid #333333;
  font-family: "OpenSans-Bold";
  font-size: 24px;
  line-height: 31px;
}
.download-app-box .download-app-otp-wrap .download-app-enter-otp .otp-col .input-textbox:nth-child(1) {
  margin-left: 0;
}
.download-app-box .download-app-otp-wrap .verify-otp-btn {
  min-width: 125px;
  margin-left: 38px;
  margin-top: 11px;
}
.download-app-box .download-app-otp-wrap .download-app-resend-otp {
  margin-top: 24px;
  display: inline-block;
  color: #1961AC;
}
.download-app-box .download-app-otp-msg {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-app-box .download-app-otp-msg.otp-verify-fail, .download-app-box .download-app-otp-msg.no-padding {
  padding: 0;
}
.download-app-box .download-app-otp-msg .download-msg-close {
  position: absolute;
  right: 48px;
  top: 0;
  color: #333333;
  font-size: 12px;
}
.download-app-box .download-app-otp-msg .success-inner {
  text-align: center;
}
.download-app-box .download-app-otp-msg .success-inner .heading36 {
  margin-bottom: 4px;
}
.download-app-box .download-app-otp-msg .success-inner img {
  width: 60px;
  height: 60px;
  margin: 0 auto 16px;
}
.download-app-box .download-app-otp-msg .success-inner img.mg-b-4 {
  margin-bottom: 4px;
}
.download-app-box .download-app-otp-msg h2 {
  margin-bottom: 4px;
}
.download-app-box .download-app-otp-msg.otp-verify-fail img {
  margin-bottom: 2px;
}
.download-app-box .download-app-otp-msg .btn-controls {
  margin-top: 12px;
}

@media (max-width: 1199px) {
  .download-app-box .download-qrcode-row .download-qrcode-left {
    width: calc(100% - 308px);
    padding-right: 50px;
  }
  .download-app-box .download-qrcode-row .download-qrcode-right {
    width: 308px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .download-app-box .download-app-otp-wrap .download-app-enter-otp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .download-app-box .download-qrcode-row {
    flex-direction: column;
  }
  .download-app-box .download-qrcode-row .download-qrcode-left {
    width: 100%;
    padding-right: 0;
  }
  .download-app-box .download-qrcode-row .download-qrcode-right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 17px;
    padding-top: 17px;
  }
  .download-app-box .download-app-checkbox .error-msgs {
    top: 24px !important;
  }
  .download-app-box .download-qrcode-or {
    width: 100%;
    height: 34px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .download-app-box .download-qrcode-or:before, .download-app-box .download-qrcode-or:after {
    top: 0;
    border-top: 1px solid #333333;
    width: calc(50% - 22px);
    left: 0;
  }
  .download-app-box .download-qrcode-or:before {
    left: 0;
  }
  .download-app-box .download-qrcode-or:after {
    right: 0;
    left: auto;
  }
  .download-app-box .download-qrcode-or .download-qrcode-or-text {
    left: 50%;
    top: -17px;
    transform: translateX(-50%);
  }
  .download-app-box .download-qrcode-content {
    padding-top: 24px;
    width: 100%;
  }
  .download-app-box .download-qrcode-content img {
    width: 129px;
    height: 129px;
    margin-top: 24px;
  }
  .download-app-box .download-app-otp-msg {
    position: static;
    border-radius: 24px;
    width: 100%;
    padding: 24px 0;
    height: auto;
    transform: none;
  }
  .download-app-box .download-app-otp-msg.otp-verify-fail, .download-app-box .download-app-otp-msg.no-padding {
    padding-bottom: 24px;
  }
  .download-app-box .download-app-otp-msg .success-inner {
    text-align: center;
  }
  .download-app-box .download-app-otp-msg .success-inner img {
    width: 50px;
    height: 50px;
  }
  .download-app-box .download-app-otp-msg .download-msg-close {
    right: 0;
    top: 4px;
  }
  .download-app-box .custom-checkbox-label {
    padding-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .download-app-box .download-app-otp-wrap .download-app-enter-otp .otp-col .input-textbox {
    font-size: 14px;
    line-height: 18px;
    max-width: 50px;
  }
  .download-app-box .download-app-otp-wrap .verify-otp-btn {
    margin-left: 12px;
  }
  .download-app-box .download-app-wrap {
    padding: 24px;
  }
  .download-app-box .download-app-number {
    flex-direction: column;
    padding-bottom: 24px;
  }
  .download-app-box .download-app-number .form-textbox-new {
    padding-right: 0;
  }
  .download-app-box .download-app-number .submit-number-btn {
    width: 100%;
    margin-top: 8px;
  }
  .download-app-box .download-app-checkbox .error-msgs {
    top: 35px !important;
  }

  .download-app-otp-msg .download-msg-close {
    right: 24px;
  }
}
@media (max-width: 359px) {
  .download-app-box .download-app-otp-wrap .verify-otp-btn {
    min-width: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
