.banner-pdt28{
    padding-top: 28px !important;
}
@media screen and (min-width:1200px) {
    .banner-height {
        height: 437px !important;
        overflow: hidden !important;
    }
}

@media screen and (min-width:320px) and (max-width:390px) {
    .track-my-application-cls {
        height: 201px;
    }

    .banner-height {
        height: 533px !important;
        overflow: hidden !important;
    }
}
@media screen and (min-width:391px) and (max-width:430px) {
    .banner-height {
        height:530px !important;
        overflow: hidden !important;
    }
}