.instant-per-row > .cmp-teaser{
	height:100%;
}
.heading20 {
	letter-spacing: normal;
}
.tab-row.tabs .container.mob-pd0 {
    padding: 0 15px 0 0;
}
.customStrong{
	font-family: "OpenSans-SemiBold" !important;
}