<section class="convenience-steps-box space-tb40">
    <div class="container">
        <sly
            data-sly-resource="${'wealth-simple-steps-title' @ resourceType='/apps/tata-capital-web/components/tcl-web-components/customcontainer/customcontainer'}">
        </sly>
    </div>
    <div class="container mob-pd0">
        <sly
            data-sly-resource="${'simple-steps-cards' @ resourceType='/apps/tata-capital-web/components/tcl-web-components/customcontainer/customcontainer'}">
        </sly>
    </div>
</section>