.reasons-box .reasons-list .reasons-list-container .why-to-choose-us-reasonlist:first-child {
    margin-top: 0px;
                    }
.reasons-box .reasons-list .reasons-list-container .why-to-choose-us-reasonlist{
	margin-top: 20px;
	background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.67) 99.11%);
	backdrop-filter: blur(9px);
	box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.01), 5px 0px 10px rgba(0, 0, 0, 0.01), 0px -5px 10px rgba(0, 0, 0, 0.01), 0px 5px 10px rgba(0, 0, 0, 0.01);
	border-radius: 30px;
	padding: 20px;
}
.mt-10{
	margin-top: 10px;
}
.strongTagCss{
	margin-bottom: 12px;
}
.strongTagCss strong{
	font-family: "OpenSans-SemiBold" !important;
}