<div class="popover-modal fade popover-show" id="moengage-modal">
    <div class="popover-modal-dialog notification-centent popover-modal-dialog-centered popover-modal-md6">
        <div class="notification-push-msg">
            <p class="text14i"><img src="/content/dam/tata-capital-web/assets/img/offers/up-arrow.svg" class="back-icon" alt="arrowright" /> Click allow button to receive notifications</p>
        </div>
        <div class="modal-tb-content">
            <div class="popover-modal-content bg-with-img">
                <button data-dismiss="popover-modal" class="popover-modal-close"><span
                        class="icon-close"></span></button>
                <div class="popover-modal-body">
                    <div class="subscribe-thakyou">
                        <img src="/content/dam/tata-capital-web/tcl-wealth/wealth-global-assets/stay-img.svg" alt=""
                            class="thanks-imgs">
                        <p class="heading20 semibold">Stay updated!</p>
                        <p class="text14i">We are constantly crafting offers and deals for you. Get them delivered
                            straight to your device through website notifications.</p>
                        <p class="text16i bold mg-t20"> All you have to do is Click on "Allow"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>