.can-take-loan-tabs .tab-left .tablinks.cmp-tabs__tab--active, .can-take-loan-tabs .tab-left .tablinks:hover {
    background: #DEDC00;
    color: #333333;
    border-bottom-color: #DEDC00;
}
.can-take-loan-tabs .tab-left .tablinks.cmp-tabs__tab--active.has-arrow:before, .can-take-loan-tabs .tab-left .tablinks:hover.has-arrow:before {
    transform: translateY(-50%) rotate(0);
    color: #333333;
}
.can-take-loan-tabs .tab-left .tablinks.cmp-tabs__tab--active:nth-child(1), .can-take-loan-tabs .tab-left .tablinks:hover:nth-child(1) {
    border-top-right-radius: 0;
}
.can-take-loan-tabs .tab-left .tablinks.cmp-tabs__tab--active:nth-last-child(1), .can-take-loan-tabs .tab-left .tablinks:hover:nth-last-child(1) {
    border-bottom-right-radius: 0;
}
.can-take-loan-tabs .tab-content-wrap .tablinks.cmp-tabs__tab--active.active {
    display: flex;
}
.can-take-personal-loan-tabs p{
    color: black;
}
.cmp-tabs__tabpanel:focus-visible{
    outline:none;
}
@media (max-width: 991px) {
    .can-take-loan-tabs .tab-left .tablinks.cmp-tabs__tab--active, .can-take-loan-tabs .tab-left .cmp-tabs__tab:focus, .can-take-loan-tabs .tab-left .cmp-tabs__tab:hover {
        background: #1961AC;
        color: #FFFFFF;}
        .can-take-loan-tabs .tab-left .tablinks.cmp-tabs__tab--active.active:nth-child(1), .can-take-loan-tabs .tab-left .cmp-tabs__tab:focus:nth-child(1), .can-take-loan-tabs .tab-left .cmp-tabs__tab:hover:nth-child(1) {
            border-radius: 10px;
        }
        .can-take-loan-tabs .tab-left .tablinks.cmp-tabs__tab--active:nth-last-child(1), .can-take-loan-tabs .tab-left .tablinks:hover:nth-last-child(1){
            border-radius: 10px;
        }
        .can-take-loan-tabs .tab-left .tablinks.cmp-tabs__tab--active .icon, .can-take-loan-tabs .tab-left .cmp-tabs__tab:focus .icon, .can-take-loan-tabs .tab-left .cmp-tabs__tab:hover .icon {
            display: none;
        }
        .can-take-loan-tabs .tab-left .tablinks.cmp-tabs__tab--active:nth-child(1), .can-take-loan-tabs .tab-left .tablinks:focus:nth-child(1), .can-take-loan-tabs .tab-left .tablinks:hover:nth-child(1) {
            border-radius: 10px;
        }
        .can-take-loan-box .can-take-loan-tabs.tab-bottom-left .tab-left .tablinks:nth-last-child(1){
            border-radius: 10px;
        }
}
.strongTag {
     margin-bottom: 20px;
}
.strongTag span{
    font-family: "OpenSans-SemiBold" !important;
}