@charset "UTF-8";
.faq-box.faq-box-sm .faq-card {
  padding-left: 0;
  padding-right: 0;
}
.faq-box.faq-box-sm .faq-row .faq-body-inner {
  padding-top: 12px;
}
.faq-box.faq-box-sm .faq-row .faq-heading:before {
  font-size: 8px;
}
.faq-box.faq-box-sm .faq-row:nth-last-child(1) {
  padding-bottom: 0;
}
.faq-box .faq-card {
  padding: 10px 40px;
}
.faq-box .faq-row {
  border-bottom: 1px solid #BFD4E2;
  padding: 30px 0;
}
.faq-box .faq-row:last-child {
  border-bottom: none;
}
.faq-box .faq-row .faq-body {
  display: none;
}
.faq-box .faq-row .faq-body-inner {
  padding-top: 20px;
}
.faq-box .faq-row .faq-body-inner p {
  color: #333;
  margin-bottom: 10px;
}
.faq-box .faq-row .faq-body-inner .list-circle-info li {
  color: #333;
}
.faq-box .faq-row .faq-heading {
  font-family: "OpenSans-SemiBold";
  font-size: 20px;
  line-height: 116%;
  color: #333333;
  display: block;
  padding-right: 20px;
  position: relative;
}
.faq-box .faq-row .faq-heading:before {
  content: "";
  font-family: "icomoon";
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.faq-box .faq-row .faq-heading.active:before {
  content: "";
}
.faq-box.new-faq-box .faq-card {
  padding: 0px;
}
.faq-box.new-faq-box .faq-row {
  padding: 25px 40px;
  border-bottom: none;
  margin-bottom: 20px;
  background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.67) 99.11%);
  border-radius: 20px;
  transition: all 0.3s;
}
.faq-box.new-faq-box .faq-row:last-child {
  margin-bottom: 0px;
}
.faq-box.new-faq-box .faq-row.add-bg {
  border-radius: 30px;
  background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.71) 0%, rgba(255, 255, 255, 0.95) 99.11%), linear-gradient(134.06deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.67) 99.11%);
}
.faq-box.contacts-faq-box .tab-btn-group {
  overflow-x: auto;
  justify-content: flex-start;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.faq-box.contacts-faq-box .tab-btn-group::-webkit-scrollbar {
  display: none;
}
.faq-box.contacts-faq-box .tab-button {
  min-width: fit-content;
  text-align: center;
  white-space: nowrap;
}

.per-btn-list {
  padding-top: 8px;
}
.per-btn-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}
.per-btn-list ul li {
  padding: 0 6px;
  margin-top: 12px;
}

.faq-accordian-with-tab.vertical-tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 40px;
  background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.71) 0%, rgba(255, 255, 255, 0.95) 99.11%), linear-gradient(134.06deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.67) 99.11%);
  backdrop-filter: blur(9px);
  border-radius: 30px;
}
.faq-accordian-with-tab.vertical-tabs .tab-btn-group {
  width: 130px;
  display: block;
  margin-bottom: 0;
  padding-top: 60px;
}
.faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-item:nth-last-child(1) .tab-button {
  margin-bottom: 0;
}
.faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-item .tab-button {
  margin-right: 0;
  margin-bottom: 20px;
  text-align: center;
}
.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap {
  width: calc(100% - 130px);
  padding-left: 30px;
}
.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .tops-heads {
  margin: 0;
  text-align: left;
  padding-left: 30px;
}
.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .faq-card {
  padding-left: 30px;
  padding-right: 20px;
}
.faq-accordian-with-tab .faq-card {
  padding: 0 40px;
}
.faq-accordian-with-tab .faq-row .faq-body-inner {
  padding-top: 12px;
}
.faq-accordian-with-tab .faq-row .faq-body-inner p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.faq-accordian-with-tab .faq-row .faq-body-inner p:nth-last-child(1) {
  margin-bottom: 0;
}
.faq-accordian-with-tab .faq-row .faq-body-inner .list-circle-info li {
  font-size: 14px;
  line-height: 20px;
}

.list-info-pdf {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -25px;
  padding-right: 30px;
}
.list-info-pdf li {
  padding: 0 10px;
  margin-top: 25px;
  width: 33.33%;
}
.list-info-pdf .pdf-col {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  display: inline-flex;
  align-items: center;
  min-height: 30px;
  font-family: "OpenSans-Bold";
}
.list-info-pdf .pdf-col .pdf-img {
  font-size: 30px;
  color: #B369AB;
  min-width: 30px;
  margin-right: 10px;
  font-weight: 400;
}
.list-info-pdf .pdf-col:hover {
  color: #126FB3;
}
.list-info-pdf .pdf-col:hover .pdf-img {
  color: #126FB3;
}

@media (max-width: 1199px) {
  .faq-box .faq-card {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  .faq-accordian-with-tab {
    margin: 0 -15px;
  }
  .faq-accordian-with-tab.vertical-tabs {
    display: block;
    padding: 0;
    background: transparent;
    backdrop-filter: none;
    border-radius: 0;
  }
  .faq-accordian-with-tab.vertical-tabs .tab-btn-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-item:nth-last-child(1) .tab-button {
    margin-right: 0;
  }
  .faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-item .tab-button {
    margin-right: 0px;
    margin-bottom: 0;
  }
  .faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap {
    width: calc(100% - 30px);
    padding: 4px 24px;
    background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.71) 0%, rgba(255, 255, 255, 0.95) 99.11%), linear-gradient(134.06deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.67) 99.11%);
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.01), 5px 0px 10px rgba(0, 0, 0, 0.01), 0px -5px 10px rgba(0, 0, 0, 0.01), 0px 5px 10px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(9px);
    border-radius: 30px;
    margin: 0 15px;
  }
  .faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .tops-heads {
    padding-left: 0;
    padding-top: 20px;
  }
  .faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .faq-card {
    padding: 0;
  }
  .faq-accordian-with-tab .faq-tab-content-wrap {
    padding: 0 15px;
  }
  .faq-accordian-with-tab .faq-row .faq-body-inner p {
    font-size: 13px;
    line-height: 19px;
  }
  .faq-accordian-with-tab .faq-row .faq-body-inner .list-circle-info li {
    font-size: 13px;
    line-height: 19px;
  }
}
@media (max-width: 767px) {
  .faq-box .faq-card {
    padding: 4px 24px;
  }
  .faq-box .faq-row {
    padding: 20px 0;
  }
  .faq-box .faq-row .faq-heading {
    font-size: 16px;
    line-height: 23px;
  }
  .faq-box .faq-body p {
    font-size: 13px;
    line-height: 19px;
  }
  .faq-box.new-faq-box .faq-row {
    border-radius: 24px;
    padding: 24px;
  }
  .faq-box.new-faq-box .faq-row.add-bg {
    border-radius: 24px;
  }

  .per-btn-list ul li {
    width: 100%;
    margin-top: 10px;
  }
  .per-btn-list .btn-light-blue {
    display: block;
  }

  .list-info-pdf {
    padding-right: 0px;
  }
  .list-info-pdf li {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
