.header.tchfl-header .apply-overlay {
  display: none !important;
}

.header-container {
  width: 100%;
  max-width: 1294px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 10;
}

.header-top {
  padding: 16px 0;
  background-color: transparent;
  position: relative;
  z-index: 10;
}
.header-top .header-container {
  padding-left: 64px;
  padding-right: 56px;
}
.header-top .header-top-slider p {
  font-family: "OpenSans-Regular";
  font-size: 13px;
  line-height: 16px;
  color: #333333;
  padding-right: 7px;
  padding-top: 0px;
}
.header-top .header-top-slider a {
  font-family: "OpenSans-Bold";
  color: #333333;
}
.header-top .header-top-slider .text-downloads {
  padding-right: 20px;
  position: relative;
  display: inline-flex;
}
.header-top .header-top-slider .text-downloads .download2icon {
  font-size: 15px;
  line-height: 14px;
  position: absolute;
  right: 0px;
  top: 1px;
}

.header-inner {
  transition: all 0.1s;
}
.header-inner.affix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #1961ac;
  z-index: 10;
}
.header-inner.affix .header-top {
  position: absolute;
  z-index: -5;
  opacity: 0;
}
.header-inner.affix .header-navbar-inner {
  padding-top: 13px;
}
.header-inner.affix .header-menu-wrap {
  padding-top: 2px;
}
.header-inner.affix .header-menu .menu-item .nav-link {
  padding-bottom: 28px;
}
.header-inner.affix .header-logo {
  margin-bottom: 14px;
}
.header-inner.affix .login-search-item > a {
  margin-bottom: 18px;
}
.header-inner.affix .login-search-item .login-btn {
  margin-bottom: 18px;
}

.header-slider-contact-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-slider-contact-wrap .left-col {
  max-width: 65%;
}
.header-slider-contact-wrap .right-col {
  max-width: 35%;
  display: flex;
  align-items: center;
}

.text-icon-link {
  font-family: "OpenSans-SemiBold";
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin-left: 19px;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
}
.text-icon-link span {
  margin-right: 8px;
}

.blog-link span {
  font-size: 14px;
}

.contact-link span {
  font-size: 14px;
}

.dropdown-btn span {
  font-size: 6px;
  margin-right: 0;
  margin-left: 7px;
}

.header-navbar-inner {
  background-color: #1961AC;
  border-radius: 21px;
  padding: 18px 40px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-right: 30px;
  margin-bottom: 18px;
}
.header-logo .logos {
  width: 104px;
  display: block;
}

.header-menu {
  display: flex;
  align-items: center;
  margin: 0 -12px;
}
.header-menu .menu-item {
  display: inline-flex;
  position: relative;
}
.header-menu .menu-item:hover .nav-link {
  color: #D8E024;
}
.header-menu .menu-item:hover .nav-link:before {
  transform: rotate(180deg);
}
.header-menu .menu-item:hover .dropdown-content-wrap {
  height: auto;
  display: block;
  z-index: -1;
}
.header-menu .menu-item .nav-link {
  font-family: "OpenSans-SemiBold";
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  margin: 0 10px -10px;
  padding-bottom: 31px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}
.header-menu .menu-item .nav-link-dropdown {
  padding-right: 12px;
}
.header-menu .menu-item .nav-link-dropdown:before {
  content: "\e90e";
  font-family: "icomoon";
  font-size: 6px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 2px;
  transition: all 0.2s;
}

.header-menu-wrap {
  margin-right: 35px;
  width: 100%;
}

.apply-btn-wrap.login-search-item .login-btn {
  margin-right: 0px;
}

.appy-btn-dropdowns {
  width: 817px;
  border-radius: 30px !important;
  padding: 20px;
  background: #f3f3f3 !important;
}
.appy-btn-dropdowns.tchfl-apply-drop {
  width: 280px;
  min-width: 280px;
  padding: 0px !important;
}
.appy-btn-dropdowns.tchfl-apply-drop .apply-row-flex .apply-row-col1 {
  width: 100%;
}
.appy-btn-dropdowns.tchfl-apply-drop .apply-row-flex .apply-div {
  height: auto;
  background-color: transparent;
}
.appy-btn-dropdowns .loan-card {
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  margin-top: -15px;
}
.appy-btn-dropdowns .loan-card .loan-card-item {
  width: 100%;
  display: flex;
  margin: 15px 0 0;
}
.appy-btn-dropdowns .loan-card .loan-card-link {
  margin: 0px;
}
.appy-btn-dropdowns .apply-row-col3 .loan-card .loan-card-item {
  width: 50%;
}
.appy-btn-dropdowns .text16-heads {
  font-family: "OpenSans-SemiBold";
  font-size: 14px;
  line-height: 130%;
  opacity: 1;
}
.appy-btn-dropdowns .apply-row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.appy-btn-dropdowns .apply-row-flex .apply-row-col3 {
  width: 60%;
}
.appy-btn-dropdowns .apply-row-flex .apply-row-col1 {
  width: 40%;
}
.appy-btn-dropdowns .apply-row-flex .apply-cols {
  padding: 0 10px;
}
.appy-btn-dropdowns .apply-row-flex .apply-div {
  padding: 20px;
  box-shadow: none;
  height: calc(100% - 28px);
  background-color: #fff;
}

.login-search-menu {
  display: flex;
  align-items: center;
  margin: 0 -12px;
}

.login-search-item {
  position: relative;
}
.login-search-item a {
  font-size: 21px;
  line-height: 24px;
  color: #FFFFFF;
  display: inline-block;
  margin: 0 12px 18px;
  transition: all 0.2s;
}
.login-search-item a:hover {
  color: #D8E024;
}
.login-search-item a:hover img path {
  fill: #fce57e;
}
.login-search-item img {
  min-width: 20px;
  width: 20px;
}
.login-search-item .dropdown-block {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 14px;
}
.login-search-item .login-dropdown.dropdown-block {
  left: auto;
  right: 0;
  margin-top: 9px;
  transform: translateX(0%);
}
.login-search-item .login-dropdown.dropdown-block .updates-list .list {
  padding-left: 30px;
  padding-right: 30px;
}
.login-search-item .login-dropdown.dropdown-block .updates-list .list:first-child {
  padding-top: 0;
}
.login-search-item .login-dropdown.dropdown-block .updates-list .list-item .updates-link {
  color: #333333;
}
.login-search-item .login-btn {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  background-color: #D8E024;
  border-radius: 12px;
  padding: 9px 24px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 102px;
}
.login-search-item .login-btn:hover {
  color: #333333;
  background-color: #d2db27;
}
.login-search-item .login-btn span {
  font-size: 7px;
  font-family: "OpenSans-Bold";
  margin-left: 10px;
}
.login-search-item .login-btn.active .icon-arrow-arrow {
  display: none;
}
.login-search-item .login-btn.active .icon-arrow-top {
  display: block;
}
.login-search-item .login-btn .icon-arrow-top {
  display: none;
}
.login-search-item .login-btn.apply-lime-btn {
  background-color: #6ECD9E;
}

.dropdown-block {
  min-width: 260px;
  background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.92) 99.11%);
  box-shadow: 0px 119px 47px rgba(0, 0, 0, 0.02), 0px 67px 40px rgba(0, 0, 0, 0.08), 0px 30px 30px rgba(0, 0, 0, 0.14), 0px 7px 16px rgba(0, 0, 0, 0.16), 0px 0px 0px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}
.dropdown-block.hide {
  display: none;
}
.dropdown-block.show {
  display: block;
}
.dropdown-block a {
  font-size: 12px;
  color: #333333;
}
.dropdown-block h4 {
  text-transform: capitalize;
  font-family: "OpenSans-SemiBold";
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  opacity: 0.9;
}
.dropdown-block .data-dismiss {
  position: absolute;
  right: 20px;
  top: 0;
  margin: 0;
  display: block;
  line-height: 16px;
}
.dropdown-block .data-dismiss [class^=icon-] {
  font-size: 14px;
  color: #333333;
}
.dropdown-block h5 {
  font-family: "OpenSans-SemiBold";
  font-size: 13px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 4px;
}
.dropdown-block p {
  margin-bottom: 10px;
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 130%;
  color: #333333;
  opacity: 0.9;
}
.dropdown-block .updates-link {
  font-family: "OpenSans-SemiBold";
  font-size: 13px;
  line-height: 14px;
  color: #1961AC;
  margin: 0;
  display: block;
}
.dropdown-block .updates-link:hover {
  text-decoration: none;
  color: #333333;
}
.dropdown-block .updates-link [class^=icon-] {
  font-size: 8px;
}
.dropdown-block .dropdown-header {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.dropdown-block .dropdown-header.has-icon h4 {
  padding-right: 20px;
}
.dropdown-block .updates-list .list {
  padding: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.062745098);
}
.dropdown-block .updates-list .list:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.dropdown-block .updates-list .list-item {
  position: relative;
}
.dropdown-block .updates-list .list-item.has-icon .media-holder, .dropdown-block .updates-list .list-item.has-icon-right .media-holder {
  position: absolute;
  top: 0;
  display: block;
  line-height: 16px;
}
.dropdown-block .updates-list .list-item.has-icon {
  padding-left: 35px;
}
.dropdown-block .updates-list .list-item.has-icon .media-holder {
  left: 0;
}
.dropdown-block .updates-list .list-item.has-icon .media-holder [class^=icon-] {
  font-size: 24px;
  color: #EB9A7A;
}
.dropdown-block .updates-list .list-item.has-icon-right {
  padding-right: 10px;
}
.dropdown-block .updates-list .list-item.has-icon-right .media-holder {
  right: 0;
}
.dropdown-block .updates-list .list-item.has-icon-right .media-holder [class^=icon-] {
  font-size: 8px;
  color: #333333;
}

.dropdown-cnt-inners {
  background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.98) 0%, rgba(255, 255, 255, 0.92) 99.11%, rgba(255, 255, 255, 0.99) 99.11%);
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 20px;
}
.dropdown-cnt-inners ul li {
  margin-top: 17px;
}
.dropdown-cnt-inners ul li:first-child {
  margin-top: 0px;
}
.dropdown-cnt-inners ul li a {
  font-family: "OpenSans-SemiBold";
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-cnt-inners ul li a .all-icon32 {
  margin-right: 8px;
}

.dropdown-content-wrap {
  height: 0px;
  overflow: hidden;
  position: absolute;
  z-index: -2;
  top: 100%;
  left: 0;
  right: 0;
  width: 200px;
  padding-top: 18px;
  display: none;
}

.apply-btn {
  background-color: #1961AC;
  border-radius: 12px;
  padding: 10px 27px;
  font-family: "OpenSans-SemiBold";
  font-size: 13px;
  line-height: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-right: 15px;
  display: inline-block;
  transition: all 0.2s;
}
.apply-btn:hover {
  background-color: #4786c9;
}

.loan-card {
  background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.9) 99.11%);
  border-radius: 21px;
  padding: 15px 20px 1px 20px;
}
.loan-card.apply-loans-link .loan-card-item {
  margin-bottom: 20px;
}
.loan-card ul {
  display: flex;
  flex-wrap: wrap;
}
.loan-card .loan-card-item {
  width: 33.3333333333%;
  display: inline-flex;
  margin-bottom: 15px;
}
.loan-card .loan-card-link {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.loan-card .loan-card-link p {
  font-family: "OpenSans-SemiBold";
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0;
  color: #333333;
}
.loan-card .loan-card-link .head-icons {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  background-color: #88D4E4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 2px;
  color: #fff;
  margin-right: 10px;
}
.loan-card .loan-card-link img {
  min-width: 32px;
  margin-right: 10px;
}
.loan-card .loan-card-link:hover p {
  color: #1A83F0;
}
.loan-card .loan-card-link:hover p:before {
  color: #1A83F0;
}

@media (min-width: 992px) {
  .mob-header {
    display: none;
    transform: translateX(-100%);
  }
}
@media (max-width: 1255px) {
  .header-top .header-container {
    padding-left: 46px;
    padding-right: 44px;
  }
  .header-navbar-inner {
    padding: 18px 25px 0 30px;
  }
  .header-logo {
    margin-right: 30px;
  }
  .header-menu {
    margin: 0 -8px -8px;
    padding-top: 1px;
  }
  .header-menu .menu-item .nav-link {
    margin: 0 8px;
    font-size: 13px;
  }
  .dropdown-content-wrap {
    padding-top: 9px;
  }
}
@media (max-width: 1199px) {
  .header-top {
    padding: 17px 0;
  }
  .header-top .header-container {
    padding-left: 34px;
    padding-right: 33px;
  }
  .header-top .header-top-slider p {
    font-size: 12px;
  }
  .header-navbar-inner {
    padding: 18px 15px 0 20px;
  }
  .header-logo {
    margin-right: 20px;
  }
  .header-logo .logos {
    width: 120px;
  }
  .dropdown-content-wrap {
    padding-top: 13px;
  }
  .header-menu {
    margin: 0 -7px;
    padding-top: 6px;
  }
  .header-menu .menu-item .nav-link {
    margin: 0 7px -5px;
    font-size: 11px;
    line-height: 16px;
  }
  .header-menu .menu-item .nav-link:before {
    top: 1px;
  }
  .login-search-menu {
    margin: 0 -10px;
  }
  .login-search-item a {
    margin: 0 10px 18px;
    font-size: 20px;
    line-height: 20px;
  }
  .login-search-item .login-btn {
    padding: 8px 20px;
    min-width: 95px;
  }
  .header-inner.affix .header-menu {
    padding-top: 5px;
  }
  .header-inner.affix .header-menu .menu-item .nav-link {
    padding-bottom: 28px;
  }
  .header-inner.affix .login-search-item > a {
    margin-bottom: 16px;
  }
}
@media (max-width: 1024px) {
  .header-top .header-top-slider p {
    font-size: 11px;
    line-height: 14px;
  }
  .header-top .header-top-slider .text-downloads {
    padding-right: 16px;
  }
  .header-top .header-top-slider .text-downloads .download2icon {
    top: 1px;
    font-size: 12px;
    line-height: 12px;
  }
  .menu-tab-none {
    display: none !important;
  }
  .header-logo .logos {
    width: 132px;
  }
  .header-menu {
    margin: 0 -10px;
    padding-top: 8px;
  }
  .header-menu .menu-item .nav-link {
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 17px;
    margin: 0 10px -5px;
    padding-bottom: 28px;
  }
}
@media (max-width: 1023px) {
  .header-top .header-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 991px) {
  .apply-btn-wrap.login-search-item .login-btn {
    margin: 5px 10px;
  }
  .backdrops:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    width: auto;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 40px;
    bottom: 0px;
    z-index: 10;
  }
  .dropdown-block h4 {
    font-size: 15px;
  }
  .dropdown-block .updates-link {
    font-size: 12px;
  }
  .header-slider-contact-wrap .header-top-slider {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .header-menu-wrap {
    display: none;
  }
  .header-slider-contact-wrap .right-col {
    max-width: 35%;
  }
  .header-slider-contact-wrap .left-col {
    max-width: 65%;
  }
  .text-icon-link {
    margin-left: 9px;
    font-family: "OpenSans-SemiBold";
    font-size: 10px;
    line-height: 12px;
  }
  .header-top {
    padding: 13px 0;
  }
  .header-navbar-inner {
    padding: 12px 22px;
  }
  .header-logo {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .header-logo .mobile-tab-menu {
    margin-right: 11px;
  }
  .header-logo .logos {
    width: 84px;
  }
  .login-search-menu {
    margin: 0 -10px;
  }
  .login-search-item a {
    margin: 0 10px;
    font-size: 16px;
    line-height: 16px;
  }
  .login-search-item img {
    min-width: 16px;
    width: 16px;
  }
  .login-search-item .dropdown-block {
    left: auto;
    transform: translateX(0%);
    margin-top: 30px;
    right: -82px;
  }
  .login-search-item .dropdown-block.login-dropdown {
    right: -12px;
    margin-top: 33px;
  }
  .login-search-item .dropdown-block.login-dropdown.appy-btn-dropdowns {
    margin-top: 22px;
  }
  .dropdown-block {
    min-width: 330px;
  }
  .search-icon-wrap,
  .login-btn-wrap {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
  .header-top .header-top-slider p {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
  .header-slider-contact-wrap .left-col {
    padding-right: 10px;
  }
  .header-inner.affix.backdrops:before {
    top: 52px;
  }
  .header-inner.affix .header-logo {
    margin-bottom: 0;
  }
  .header-inner.affix .login-search-item > a {
    margin-bottom: 0;
  }
  .header-inner.affix .header-navbar-inner {
    padding: 6px 0;
  }
  .header-inner.affix .header-navbar-inner .login-search-item .login-btn {
    margin: 5px 10px;
  }
  .header-inner.affix .login-search-item .dropdown-block {
    margin-top: 21px;
    right: -35px;
  }
  .header-inner.affix .login-search-item .dropdown-block.login-dropdown {
    margin-top: 23px;
    right: 0px;
  }
  .header-inner.affix .login-search-item .dropdown-block.login-dropdown.appy-btn-dropdowns {
    margin-top: 12px;
  }
  .header-inner.affix .login-search-item.search-icon-wrap .dropdown-block {
    right: -72px;
  }
  .appy-btn-dropdowns {
    width: 695px;
  }
  /*tab and mobile header*/
  .header-inner.affix .mob-header {
    top: 53px;
  }
  .header-inner.affix .mob-fixscrollmain {
    max-height: calc(100% - 30px);
  }
  .header-inner.affix .mob-subsub-menu .mob-fixscroll {
    max-height: calc(100% - 30px);
  }
  .mob-header {
    width: 100%;
    position: fixed;
    top: 105px;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    overflow: hidden;
    transition: all 0.3s;
    transform: translateX(-100%);
    padding: 10px 15px 15px;
  }
  .mob-header.opened {
    transform: translateX(0%);
  }
  .mob-fixscrollmain {
    width: 100%;
    max-height: calc(100% - 20px);
    overflow: auto;
    background-color: #fff;
    border-radius: 0 0 30px 30px;
  }
  .mob-inner-header {
    border-radius: 30px;
    height: 100%;
    position: relative;
    padding-top: 0px;
    overflow: hidden;
  }
  .mob-inner-header .mob-search {
    display: none;
    padding: 15px 16px 16px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #fff;
    z-index: 1;
  }
  .mob-inner-header .search-inputs {
    position: relative;
  }
  .mob-inner-header .search-inputs .searchicon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #808080;
  }
  .mob-inner-header .search-inputs .form-control {
    padding-left: 48px;
    font-size: 13px;
    line-height: 17px;
    color: #606060;
    font-family: "OpenSans-SemiBold";
  }
  .accordian-mobsubmenu .submenu-head {
    font-family: "OpenSans-SemiBold";
    font-size: 13px;
    line-height: 17px;
    color: #333;
    display: block;
    padding: 17px 48px 17px 30px;
    position: relative;
    border-bottom: 1px solid #E0E9F1;
  }
  .accordian-mobsubmenu .submenu-head.mob-right-arrow:before {
    content: "\e905";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    font-size: 10px;
  }
  .accordian-mobsubmenu .accord-body {
    display: none;
  }
  .accordian-mobsubmenu .accord-col .submenu-head:before {
    content: "\e90e";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    font-size: 10px;
  }
  .accordian-mobsubmenu .accord-col .submenu-head a {
    color: #333;
  }
  .accordian-mobsubmenu .accord-col .submenu-head .submenu-head-arrow {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 48px;
    z-index: 2;
  }
  .accordian-mobsubmenu .accord-col .submenu-head .submenu-head-arrow:before {
    content: "\e90e";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    font-size: 10px;
  }
  .accordian-mobsubmenu .accord-col .submenu-head.main-opened {
    background-color: #DEDC00;
  }
  .accordian-mobsubmenu .accord-col .submenu-head.main-opened:before {
    content: "\e90d";
    display: none;
  }
  .accordian-mobsubmenu .accord-col .submenu-head.main-opened .submenu-head-arrow:before {
    content: "\e90d";
  }
  .accordian-mobsubmenu .mob-sub-menu.tchfl-mob-menu li a {
    padding-left: 30px;
  }
  .accordian-mobsubmenu .mob-sub-menu li {
    border-bottom: 1px solid #E0E9F1;
  }
  .accordian-mobsubmenu .mob-sub-menu li a {
    font-family: "OpenSans-SemiBold";
    font-size: 13px;
    line-height: 17px;
    color: #333333;
    padding: 17px 48px 17px 50px;
    display: block;
    position: relative;
    background: #F5F5F5;
  }
  .accordian-mobsubmenu .mob-sub-menu li .menu-sub-items:before {
    content: "\e923";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    right: 30px;
    font-size: 10px;
    color: #B369AB;
  }
  .accordian-mobsubmenu .mob-sub-menu li .menu-sub-items.sub-heads {
    border-bottom: none;
  }
  .accordian-mobsubmenu .mob-sub-menu li .menu-sub-items.sub-heads:before {
    content: "\e90e";
    transform: translateY(-50%) rotate(0deg);
  }
  .accordian-mobsubmenu .mob-sub-menu li .menu-sub-items.sub-heads.subs-opned:before {
    content: "\e90d";
  }
  .sub-accordian-mob .sub-accordian-body {
    display: none;
  }
  .sub-accordian-mob .mob-sub-menu {
    border-top: 1px solid #E0E9F1;
  }
  .sub-accordian-mob .mob-sub-menu li:last-child {
    border-bottom: none;
  }
  .sub-accordian-mob .mob-sub-menu li a {
    padding-left: 75px;
  }
  .mob-subsub-menu {
    width: 100%;
    max-height: 100%;
    position: fixed;
    top: 10px;
    bottom: 0px;
    z-index: 12;
    transition: all 0.3s;
    padding: 49px 15px 15px;
  }
  .mob-subsub-menu.js-close-details {
    left: -100%;
  }
  .mob-subsub-menu.js-close-details.active-sub {
    left: 0;
  }
  .mob-subsub-menu .backmenu {
    background-color: #F8F8F8;
    border-radius: 30px 30px 0px 0px;
    padding: 18px 23px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0px;
    z-index: 1;
  }
  .mob-subsub-menu .backmenu .backto {
    display: block;
    font-family: "OpenSans-SemiBold";
    font-size: 13px;
    line-height: 14px;
    color: #333;
  }
  .mob-subsub-menu .backmenu i, .mob-subsub-menu .backmenu span {
    padding-right: 5px;
  }
  .mob-subsub-menu .mob-fixscroll {
    max-height: calc(100% - 20px);
    overflow: auto;
    background-color: #F8F8F8;
    border-radius: 0px 0px 30px 30px;
  }
  .mob-subsub-menu .mob-submenucotent {
    padding: 20px 20px 0;
  }
  .mob-subsub-menu .mob-submenucotent .mob-head-tops {
    border-bottom: 1px solid #BFD4E2;
  }
  .mob-subsub-menu .mob-submenucotent h3, .mob-subsub-menu .mob-submenucotent .heading18s {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    display: block;
  }
  .subsub-accordian .subsub-accordian-row {
    border-top: 1px solid #BFD4E2;
  }
  .subsub-accordian .subsub-head {
    display: block;
    font-family: "OpenSans-SemiBold";
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #333333;
    padding: 20px 20px 20px 0;
    position: relative;
  }
  .subsub-accordian .subsub-head:before {
    content: "\e90e";
    font-family: "icomoon";
    font-size: 10px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  .subsub-accordian .subsub-head.active:before {
    content: "\e90d";
  }
  .subsub-accordian .subsub-accordian-body {
    display: none;
  }
  .subsub-accordian .loan-card {
    background: transparent;
    padding: 0px;
    border-radius: 0px;
  }
  .subsub-accordian .loan-card ul {
    display: block;
  }
  .subsub-accordian .loan-card .loan-card-item {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
  .subsub-accordian .loan-card .loan-card-link {
    padding-right: 0px;
  }
  .mob-apply-menu-row h6, .mob-apply-menu-row .heading18s {
    font-family: "OpenSans-Bold";
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: rgba(51, 51, 51, 0.7);
    padding: 17px 0px 7px;
  }
  .mob-apply-menu-row .mob-apply-menu-col {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E0E9F1;
    padding: 0 40px 7px;
  }
  .mob-apply-menu-row .mob-sub-menu {
    padding: 0 30px;
  }
  .mob-apply-menu-row .mob-sub-menu li {
    border-bottom: none;
  }
  .mob-apply-menu-row .mob-sub-menu li a {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .appy-btn-dropdowns {
    border-radius: 30px !important;
    padding: 0px;
    background: #F5F5F5 !important;
    max-height: calc(100% - 150px);
    overflow: auto;
  }
  .apply-mobile-menu a {
    margin: 0px;
  }
  .apply-mobile-menu .accordian-mobsubmenu {
    border-radius: 30px;
    overflow: hidden;
  }
  .apply-mobile-menu .accordian-mobsubmenu .submenu-head {
    background-color: #fff;
    color: #333;
  }
  .apply-mobile-menu .accordian-mobsubmenu .submenu-head.apply-opened {
    background-color: #dedc00;
    color: #333;
  }
  .apply-mobile-menu .accordian-mobsubmenu .submenu-head.apply-opened:before {
    content: "\e90d";
  }
  .contact-link span {
    font-size: 12px;
  }
  .header-top {
    padding: 13px 0;
  }
  .backdrops:before {
    top: 40px;
  }
  .header-slider-contact-wrap {
    justify-content: center;
  }
  .header-slider-contact-wrap .left-col {
    display: none;
  }
  .header-slider-contact-wrap .right-col {
    max-width: 100%;
  }
  .dropdown-block h4 br {
    display: none;
  }
  .dropdown-block .btn-holder button {
    width: calc(100% + 40px);
  }
  .credit-cards-content p {
    font-size: 14px;
    line-height: 16px;
  }
  .mob-header {
    top: 105px;
  }
  .login-search-item .dropdown-block {
    margin-top: 10px;
    right: 15px;
    width: auto;
    position: fixed;
    top: 116px;
    left: 15px;
  }
  .login-search-item .dropdown-block.login-dropdown {
    right: 15px;
    margin-top: 0px;
    left: 15px;
  }
  .login-search-item .dropdown-block.login-dropdown.appy-btn-dropdowns {
    margin-top: 0px;
  }
  .scroll-hide-xs {
    overflow: hidden;
  }
  .backdrops-xs:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    width: auto;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 40px;
    bottom: 0px;
    z-index: 10;
  }
  .header-inner.affix .appy-btn-dropdowns {
    max-height: calc(100% - 100px);
  }
  .header-inner.affix .login-search-item .dropdown-block {
    margin-top: 10px;
    right: 15px;
    top: 53px;
  }
  .header-inner.affix .login-search-item .dropdown-block.login-dropdown {
    margin-top: 10px;
    right: 15px;
  }
  .header-inner.affix .login-search-item .dropdown-block.login-dropdown.appy-btn-dropdowns {
    margin-top: 10px;
  }
  .header-inner.affix .login-search-item.search-icon-wrap .dropdown-block {
    right: 15px;
    top: 53px;
    margin-top: 10px;
  }
  .header-inner.affix.backdrops-xs:before {
    top: 52px;
  }
}
@media (max-width: 359px) {
  .dropdown-block {
    min-width: 290px;
  }
  .login-search-item a {
    margin: 0 8px;
  }
  .text-icon-link {
    margin-left: 5px;
    font-size: 9px;
  }
  .text-icon-link span {
    margin-right: 4px;
  }
}

/*# sourceMappingURL=style.css.map */
