<div class="right-calling-option">
    <div class="right-calling-inner">
        <a href="javascript:void(0)" class="whatsapp-call" data-popovermodal="popover-modal"
            data-target="#whatsapp-modal">
            <img src="/content/dam/tata-capital-web/tcl-wealth/wealth-global-assets/whatsapp-img.svg" alt="Whatsapp">
        </a>
        <a href="/content/tata-capital-web/en/wealth/request-callback.html" class="phone-call">
            <img src="/content/dam/tata-capital-web/tcl-wealth/wealth-global-assets/call-img.svg" alt="Phone Call">
        </a>
    </div>
</div>

<!-- whatsapp modal -->
<div class="popover-modal fade" id="whatsapp-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md6">
        <div class="modal-tb-content">
            <div class="popover-modal-content bg-with-img">
                <button data-dismiss="popover-modal" class="popover-modal-close jsWhatsAppClose"><span
                        class="icon-close"></span></button>
                <div class="popover-modal-body">

                    <div class="subscribe-thakyou" id="jsWhatsappRegisterMgs">
                        <img src="/content/dam/tata-capital-web/tcl-wealth/wealth-global-assets/whatsapp-img2.svg"
                            alt="Whatsapp img" class="thanks-imgs">
                        <p class="heading20 semibold">Tata Capital Wealth on Whatsapp</p>
                        <p class="text14i">Register to connect with us on whatsapp</p>
                        <div class="whatsapp-forms" id="whatsapp-form">
                            <div class="form-textbox-new">
                                <label class="label-name">Mobile number*</label>
                                <div class="textbox-inner">
                                    <input type="text" class="input-textbox allow-numeric disable-emoji jsGetNumber"
                                        maxlength="10" pattern="[0-9]*" inputmode="numeric" placeholder=""
                                        data-type="mobile">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn-dangers btn-big jsWhatsappSubmitBtn">Submit</button>
                            </div>
                        </div>
                    </div>

                    <div class="subscribe-thakyou d-none" id="jsWhatsappSuccessMgs">
                        <img src="/content/dam/tata-capital-web/assets/img/whatsapp-logo.png"
                            alt="Whatsapp ticket" class="thanks-imgs">
                        <p class="heading20 semibold">Registered Successfully</p>
                        <p class="text14i">We have sent you a WhatsApp message on</p>
                        <p class="text14i">on +91 - XXXXXXXX<span class="jsShowWhatsappNumber">44</span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- whatsapp modal -->