.instant-personal-slider .instant-per-div .left-number {
    min-width: 32px;
    font-family: "OpenSans-Bold";
    font-size: 54.1063px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #b287d4;
    margin-right: 29px;
    margin-left: 9px;
  }