.custom-multiselect-dropdown .search-wrap {
    padding: 8px 10px;
}
.custom-multiselect-dropdown .search-wrap .form-control {
    font-family: 'OpenSans-Regular';
    background-color: #fff;
    color: #333;
    border: 1px solid #d8e024;
    border-radius: 8px;
    height: 32px;
    padding: 7px 13px;
}
.approved-proj-box .ref-number {
    overflow-wrap: break-word;
}
.approved-proj-box .proj-description {
    overflow-wrap: break-word;
}