.approved-projects-box .project-cards {
    padding: 40px 40px 20px
}

.approved-projects-box .project-cards h2 {
    margin-bottom: 8px
}

.approved-projects-box .project-cards .sub-texts {
    margin-bottom: 15px
}

.approved-projects-box .show-project-btn {
    margin-top: 17px;
    position: absolute;
    right: 0;
    top: 0
}

.approved-projects-box .search-property-row {
    position: relative;
    padding-right: 155px
}

.approved-projects-box .form-textbox-new {
    margin-bottom: 0
}

.search-property .approved-projects-box .project-cards {
    padding-top: 25px
}

@media (max-width:991px) {
    .approved-projects-box .project-cards {
        padding: 24px;
        border-radius: 24px
    }

    .approved-projects-box .search-property-row {
        padding-right: 0
    }

    .approved-projects-box .show-project-btn {
        position: static
    }

    .approved-projects-box .row-flex .row-col-33 {
        width: 50%
    }
}

@media (max-width:767px) {
    .approved-projects-box .project-cards .sub-texts {
        margin-bottom: 10px
    }

    .approved-projects-box .row-flex {
        margin: 0
    }

    .approved-projects-box .row-flex .row-col-33 {
        width: 100%;
        padding: 0
    }

    .approved-projects-box .show-project-btn {
        width: 100%
    }
}