<!--  banner cntr  start 2-2-2023 -->
<section class="banner-cntr-new">
    <div class="custom-container">
        <article class="banner-new-box ${properties.bannerstyle}">
            <div class="banner-slider-new ${properties.bannerstyle ?' ': ' slider-dots'}" id="${properties.bannerstyle ? ' ': 'jsNewBannerSlider'}">
                <sly data-sly-list.banner="${resource.children}">
                    <sly data-sly-test="${banner.name == 'bannerMultifield'}">
                        <sly data-sly-list.bannerItem="${banner.children}">
                            <!-- Banner white default -->
                            <div class="banner-item-new">
                                <div class="banner-wrap ${bannerItem.bannerThemeName}">
                                    <div class="banner-text-new">
                                        <div class="banner-captions">
                                            <div class="main-title">
                                                <h1 class="heading-h1">${bannerItem.productName}
                                                    <span>${bannerItem.productTitle}</span>
                                                <h1>
                                            </div>
                                            <div class="title-info">
                                                <p>${bannerItem.productDescription @ context = 'html'}</p>
                                            </div>
                                            <!-- mobile banner -->
                                            <div class="banner-img mob-banners d-block d-md-none">
                                                <picture>
                                                    <img src="${bannerItem.mobileImage}" alt="" class="banners-img">
                                                </picture>
                                            </div>
                                            <!-- mobile banner -->
                                            <div class="dsk-banner-cta btn-holder">
                                                <sly data-sly-test="${bannerItem.primaryButtonTitle}">
                                                    <a aria-label="link" href="${bannerItem.primaryButtonLink}" type="button"
                                                        class="btn-blue btn-large cta-gap">${bannerItem.primaryButtonTitle}</a>
                                                </sly>
                                                <sly data-sly-test="${bannerItem.secondaryButtonTitle}">
                                                    <a aria-label="link" href="${bannerItem.secondaryButtonLink}"  type="button"
                                                        class="btn-link btn-big cta-gap">${bannerItem.secondaryButtonTitle}</a>
                                                </sly>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- desktop banner -->
                                    <div class="banner-img d-none d-md-block">
                                        <picture style="display: block; min-height: 1rem"
                                            data-iesrc="${bannerItem.desktopImage}" data-alt="">
                                            <source media="(min-width: 1200px)" srcset="${bannerItem.desktopImage}">
                                            <source media="(min-width: 768px)" srcset="${bannerItem.tabImage}">
                                            <source media="(max-width: 767px)" srcset="${bannerItem.mobileImage}">
                                            <img src="${bannerItem.desktopImage}" alt="" class="banners-img" fetchpriority="high" decoding="sync">
                                        </picture>
                                    </div>
                                    <!-- desktop banner -->
                                </div>
                            </div>

                            <!-- Banner white default -->
                        </sly>
                    </sly>
                </sly>

            </div>
        </article>
    </div>
</section>
<!-- banner cntr end 2-2-2023 -->