/*# Custom Global CSS */
.root.container.responsivegrid{
	padding:0px;
    max-width:100%;
	overflow:hidden;
}
.container.responsivegrid{
  padding:0px;
  max-width:100%;
}
a{
  color: #1961AC;
  }

  span.upperFirstLatter{
    text-transform: capitalize;
  }