.faq-box.faq-box-sm .faq-card {
  padding-left: 0;
  padding-right: 0;
}
.faq-box.faq-box-sm .faq-row .faq-body-inner {
  padding-top: 12px;
}
.faq-box.faq-box-sm .faq-row .faq-heading:before {
  font-size: 8px;
}
.faq-box.faq-box-sm .faq-row:nth-last-child(1) {
  padding-bottom: 0;
}
.faq-box .faq-card {
  padding: 10px 40px;
}
.faq-box .faq-row {
  border-bottom: 1px solid #bfd4e2;
  padding: 30px 0;
}
.faq-box .faq-row:last-child {
  border-bottom: none;
}
.faq-box .faq-row .faq-body {
  display: none;
}
.faq-box .faq-row .faq-body-inner {
  padding-top: 20px;
}
.faq-box .faq-row .faq-body-inner p {
  color: #333;
  margin-bottom: 10px;
}
.faq-box .faq-row .faq-body-inner .list-circle-info li {
  color: #333;
}
.faq-box .faq-row .faq-heading {
 font-family: "OpenSans-SemiBold";
 font-size: 16px;
 line-height: 18px;
 color: #333333;
  display: block;
  padding-right: 20px;
  position: relative;
}
.faq-box .faq-row .faq-heading:before {
  content: "\e90e";
  font-family: 'icomoon';
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.faq-box .faq-row .faq-heading.active:before {
  content: "\e90d";
}
.faq-box.new-faq-box .faq-card {
  padding: 0px;
}
.faq-box.new-faq-box .faq-row {
  padding: 25px 40px;
  border-bottom: none;
  margin-bottom: 20px;
  background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.67) 99.11%);
  border-radius: 20px;
  transition: all 0.3s;
}
.faq-box.new-faq-box .faq-row:last-child {
  margin-bottom: 0px;
}
.faq-box.new-faq-box .faq-row.add-bg {
  border-radius: 30px;
  background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.71) 0%, rgba(255, 255, 255, 0.95) 99.11%), linear-gradient(134.06deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.67) 99.11%);
}
.faq-box.contacts-faq-box .tab-btn-group {
 overflow-x: auto;
 justify-content: flex-start;
 overflow-y: scroll;
 -ms-overflow-style: none;
 /* IE and Edge */
 scrollbar-width: none;
 /* Firefox */
 /* Hide scrollbar for Chrome, Safari and Opera */
 }
 .faq-box.contacts-faq-box .tab-btn-group::-webkit-scrollbar {
 display: none;
 }
 .faq-box.contacts-faq-box .tab-button {
 min-width: fit-content;
 text-align: center;
 white-space: nowrap;
 }
.per-btn-list {
  padding-top: 8px;
}
.per-btn-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}
.per-btn-list ul li {
  padding: 0 6px;
  margin-top: 12px;
}
.faq-accordian-with-tab.vertical-tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 40px;
  background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.71) 0%, rgba(255, 255, 255, 0.95) 99.11%), linear-gradient(134.06deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.67) 99.11%);
  backdrop-filter: blur(9px);
  border-radius: 30px;
}
.faq-accordian-with-tab.vertical-tabs .tab-btn-group {
  width: 130px;
  display: block;
  margin-bottom: 0;
  padding-top: 60px;
}
.faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-item:nth-last-child(1) .tab-button {
  margin-bottom: 0;
}
.faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-item .tab-button {
  margin-right: 0;
  margin-bottom: 20px;
  text-align: center;
}
.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap {
  width: calc(100% - 130px);
  padding-left: 30px;
}
.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .tops-heads {
  margin: 0;
  text-align: left;
  padding-left: 30px;
}
.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .faq-card {
  padding-left: 30px;
  padding-right: 20px;
}
.faq-accordian-with-tab .faq-card {
  padding: 0 40px;
}
.faq-accordian-with-tab .faq-row .faq-body-inner {
  padding-top: 12px;
}
.faq-accordian-with-tab .faq-row .faq-body-inner p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.faq-accordian-with-tab .faq-row .faq-body-inner p:nth-last-child(1) {
  margin-bottom: 0;
}
.faq-accordian-with-tab .faq-row .faq-body-inner .list-circle-info li {
  font-size: 14px;
  line-height: 20px;
}
.list-info-pdf {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 margin-left: -10px;
 margin-right: -10px;
 margin-top: -25px;
 padding-right: 30px;
 }
 .list-info-pdf li {
 padding: 0 10px;
 margin-top: 25px;
 width: 33.33%;
 }
 .list-info-pdf .pdf-col {
 font-size: 14px;
 line-height: 18px;
 color: #333333;
 display: inline-flex;
 align-items: center;
 min-height: 30px;
 font-family: "OpenSans-Bold";
 }
 .list-info-pdf .pdf-col .pdf-img {
 font-size: 30px;
 color: #B369AB;
 min-width: 30px;
 margin-right: 10px;
 font-weight: 400;
 }
 .list-info-pdf .pdf-col:hover {
 color: #126FB3;
 }
 .list-info-pdf .pdf-col:hover .pdf-img {
 color: #126FB3;
 }
@media (max-width: 1199px) {
  .faq-box .faq-card {
    padding-left: 30px;
    padding-right: 30px;
 }
}
@media (max-width: 991px) {
  .faq-accordian-with-tab {
    margin: 0 -15px;
 }
  .faq-accordian-with-tab.vertical-tabs {
    display: block;
    padding: 0;
    background: transparent;
    backdrop-filter: none;
    border-radius: 0;
 }
  .faq-accordian-with-tab.vertical-tabs .tab-btn-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-top: 0px;
 }
  .faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-item:nth-last-child(1) .tab-button {
    margin-right: 0;
 }
  .faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-item .tab-button {
    margin-right: 0px;
    margin-bottom: 0;
 }
  .faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap {
    width: calc(100% - 30px);
    padding: 4px 24px;
    background: linear-gradient(134.06deg, rgba(255, 255, 255, 0.71) 0%, rgba(255, 255, 255, 0.95) 99.11%), linear-gradient(134.06deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.67) 99.11%);
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.01), 5px 0px 10px rgba(0, 0, 0, 0.01), 0px -5px 10px rgba(0, 0, 0, 0.01), 0px 5px 10px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(9px);
    border-radius: 30px;
    margin: 0 15px;
 }
  .faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .tops-heads {
    padding-left: 0;
    padding-top: 20px;
 }
  .faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .faq-card {
    padding: 0;
 }
  .faq-accordian-with-tab .faq-tab-content-wrap {
    padding: 0 15px;
 }
  .faq-accordian-with-tab .faq-row .faq-body-inner p {
    font-size: 13px;
    line-height: 19px;
 }
  .faq-accordian-with-tab .faq-row .faq-body-inner .list-circle-info li {
    font-size: 13px;
    line-height: 19px;
 }
}
@media (max-width: 767px) {
  .faq-box .faq-card {
    padding: 4px 24px;
 }
  .faq-box .faq-row {
    padding: 20px 0;
 }
  .faq-box .faq-row .faq-heading {
    font-size: 16px;
    line-height: 23px;
 }
  .faq-box .faq-body p {
    font-size: 13px;
    line-height: 19px;
 }
  .faq-box.new-faq-box .faq-row {
    border-radius: 24px;
    padding: 24px;
 }
  .faq-box.new-faq-box .faq-row.add-bg {
    border-radius: 24px;
 }
  .per-btn-list ul li {
    width: 100%;
    margin-top: 10px;
 }
  .per-btn-list .btn-light-blue {
    display: block;
 }
 .list-info-pdf {
   padding-right: 0px;
 }
 .list-info-pdf li {
   width: 100%;
 }
}

.branch-locaion-img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin-bottom: 10px;
  background: #D8E024;
  border-radius: 50%;
  display: block;
  position: relative;
  font-size: 30px;
  color: #2A78BC;
}

.branch-locator-box .icon-center:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.branch-locator-tabs.faq-accordian-with-tab.vertical-tabs {
  padding: 25px;
}
.branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .tab-btn-group {
  width: 155px;
  padding-top: 0;
}
.branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-button {
  width: 100%;
  text-align: center;
}
.branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap {
  width: calc(100% - 155px);
}
.branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .tops-heads {
  padding-left: 0;
  margin-bottom: 8px;
}
.branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .form-textbox-new {
  margin-bottom: 4px;
}

.branch-form .text16i {
  margin-bottom: 20px;
}

.branch-details-box {
  margin-top: 30px;
}
.branch-details-box .icon-center:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.branch-details-box .row-flex {
  margin-top: -30px;
}
.branch-details-box .row-col-33 {
  margin-top: 30px;
}

.branch-details-item {
  margin: 0;
  height: 100%;
}
.branch-details-item .bg-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.branch-details-item .bg-div .branch-details-top {
  flex-grow: 1;
}
.branch-details-item .branch-details-top {
  padding: 20px;
}
.branch-details-item .branch-details-top .heading20 {
  margin-bottom: 15px;
}
.branch-details-item .branch-details-top .branch-address {
  padding-left: 42px;
  position: relative;
}
.branch-details-item .branch-details-top .branch-address .address-icon {
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #B287D4;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}
.branch-details-item .branch-details-bottom {
  padding: 20px;
  background: linear-gradient(94.99deg, rgba(75, 184, 130, 0.85) -7.43%, rgba(82, 169, 126, 0.909844) 37.99%, #65B68E 102.12%), linear-gradient(134.06deg, rgba(255, 255, 255, 0.71) 0%, rgba(255, 255, 255, 0.95) 99.11%);
  border-radius: 0px 0px 30px 30px;
}

/*branch-timing*/
.branch-timing-wrap {
  padding: 25px;
  height: 100%;
}
.branch-timing-wrap .heading20 {
  margin-bottom: 15px;
}
.branch-timing-wrap .heading13 {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  margin-bottom: 4px;
}
.branch-timing-wrap .heading13 span {
  font-family: "OpenSans-Bold";
}
.branch-timing-wrap .text16i, .branch-timing-wrap .text14i, .branch-timing-wrap .text13i {
  margin-bottom: 8px;
}
.branch-timing-wrap .text16i:nth-last-child(1), .branch-timing-wrap .text14i:nth-last-child(1), .branch-timing-wrap .text13i:nth-last-child(1) {
  margin-bottom: 0;
}
.branch-timing-wrap .text16i span, .branch-timing-wrap .text14i span, .branch-timing-wrap .text13i span {
  font-family: "OpenSans-SemiBold";
}
.branch-timing-wrap .text13i {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
}
.branch-timing-wrap .branch-timing-row {
  display: flex;
  flex-wrap: wrap;
}
.branch-timing-wrap .branch-timing-row .branch-timing-col {
  padding: 0 30px 8px;
}
.branch-timing-wrap .branch-timing-row .branch-timing-col:nth-child(1) {
  padding-left: 0;
}
.branch-timing-wrap .branch-timing-row .branch-timing-col:nth-last-child(1) {
  padding-right: 0;
}
.branch-timing-wrap .branch-timing-item {
  position: relative;
  padding-left: 34px;
  display: flex;
  align-items: center;
  min-height: 24px;
}
.branch-timing-wrap .branch-timing-item .all-icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: -1px;
}
.branch-timing-wrap .branch-timing-bottom {
  margin-top: 15px;
}
.branch-timing-wrap .branch-timing-bottom .row-flex {
  margin: 0 -5px;
}
.branch-timing-wrap .branch-timing-bottom .row-flex .col-space-5 {
  padding: 0 5px;
}

.branch-statment-list.row-flex .col-space-5 {
  padding-left: 15px !important;
}
.branch-statment-list li {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  margin-bottom: 2px;
}
.branch-statment-list li:before {
  width: 4px;
  height: 4px;
  top: 7px;
}

/*Branch locator modal*/
.branch-locator-sms .to-apply-mx {
  max-width: 510px;
  margin: auto;
  text-align: center;
}
.branch-locator-sms .to-apply-mx .mt-20 {
  margin-top: 20px;
}
.branch-locator-sms .to-apply-mx .ticks-img {
  margin: 0 auto 20px;
  min-width: 60px;
  height: 60px;
}
.branch-locator-sms .to-apply-mx .pdf-imgs {
  margin: 0 auto 20px;
  background: #D8E024;
  min-width: 60px;
  height: 60px;
  padding: 15px;
  font-size: 30px;
  border-radius: 50%;
  display: inline-block;
  color: #2A78BC;
}
.branch-locator-sms .to-apply-mx .heading20 {
  margin-bottom: 8px;
}
.branch-locator-sms .btn-link {
  min-width: 109px;
}

.form-input-bg.form-textbox-new.onchange .input-textbox {
  border-bottom-color: #FFFFFF;
}
.form-input-bg.form-textbox-new.textboxerror .input-textbox {
  border-bottom-color: #FFBBA5;
}
.form-input-bg.form-textbox-new.textboxerror .label-name, .form-input-bg.form-textbox-new.textboxerror .error-msgs {
  color: #FFBBA5;
}
.form-input-bg.form-textbox-new .label-name, .form-input-bg.form-textbox-new .input-textbox {
  color: #FFFFFF;
}

@media (max-width: 991px) {
  .branch-locaion-img {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-bottom: 12px;
    font-size: 20px;
  }

  .branch-timing-box .row-flex {
    flex-direction: column;
  }
  .branch-timing-box .row-flex .row-col-33, .branch-timing-box .row-flex .row-col-66 {
    width: 100%;
  }

  .branch-locator-tabs.faq-accordian-with-tab.vertical-tabs {
    padding: 0;
    margin: 0;
  }
  .branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .tab-btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-button {
    width: 100%;
    text-align: center;
  }
  .branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-button:hover {
    background: transparent;
    box-shadow: none;
    color: rgba(25, 97, 172, 0.6);
  }
  .branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .tab-btn-group .tab-button.active {
    background: linear-gradient(134.06deg, rgba(18, 104, 179, 0.71) 0%, rgba(16, 141, 250, 0.95) 99.11%);
    color: #FFFFFF;
  }
  .branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap {
    margin: 0;
    width: 100%;
  }
  .branch-locator-tabs.faq-accordian-with-tab.vertical-tabs .faq-tab-content-wrap .tops-heads {
    margin-bottom: 4px;
  }
  .branch-form .text16i {
    margin-bottom: 12px;
  }

  .branch-details-box {
    margin-top: 20px;
  }
  .branch-details-box .row-flex .row-col-33 {
    width: 50%;
  }

  .branch-details-item {
    margin: 0;
  }
  .branch-details-item .bg-div {
    border-radius: 24px;
  }
  .branch-details-item .bg-div .branch-details-top {
    height: auto;
  }
  .branch-details-item .branch-details-bottom {
    padding: 16px 20px 20px;
    border-radius: 0 0 24px 24px;
  }

  /*branch-timing*/
  .branch-timing-wrap {
    padding: 24px;
    height: auto;
  }
  .branch-timing-wrap.mb-20 {
    margin-bottom: 20px;
  }
  .branch-timing-wrap .heading20 {
    margin-bottom: 10px;
  }
  .branch-timing-wrap .text16i, .branch-timing-wrap .text14i, .branch-timing-wrap .text13i {
    margin-bottom: 11px;
  }
  .branch-timing-wrap .heading13 {
    margin-bottom: 8px;
  }
  .branch-timing-wrap .branch-timing-row {
    flex-direction: column;
  }
  .branch-timing-wrap .branch-timing-row .branch-timing-col {
    padding: 0 0 14px;
  }
  .branch-timing-wrap .branch-timing-row .branch-timing-col:nth-child(1) {
    padding-left: 0;
  }
  .branch-timing-wrap .branch-timing-row .branch-timing-col:nth-last-child(1) {
    padding-right: 0;
  }
  .branch-timing-wrap .branch-timing-bottom {
    margin-top: 20px;
  }

  .branch-statment-list {
    margin-bottom: 10px;
  }
  .branch-statment-list li {
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .branch-details-box {
    margin-top: 20px;
  }
  .branch-details-box .row-flex {
    margin-top: -20px;
  }
  .branch-details-box .row-flex .row-col-33 {
    margin-top: 20px;
    width: 100%;
  }

  .branch-locator-box .row-flex .row-col-33 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
