.login-search-wrap{
    margin-top: -10px;
}
@media (max-width: 991px) {
    .login-search-wrap{
        margin-top: -15px;
    }
}
@media (max-width: 767px) {
    .login-search-wrap{
        margin-top: 0px;
    }
}