<div data-sly-use.textModel="com.adobe.cq.wcm.core.components.models.Text"
    data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-cmp-data-layer="${textModel.data.json}"
    id="${component.id}" class="cmp-text instant-per-col">
    <div class="instant-per-div bg-div">
        <div class="instant-top">
            <span class="left-number">${component.id}</span>
            <div class="text14i">
                <p class="cmp-text__paragraph" data-sly-unwrap="${textModel.isRichText}">${textModel.text @ context =
                    'html'}</p>
            </div>
        </div>
    </div>
</div>